
@import "~assets/scss/style.scss";

@import "~bulma";
@import "~buefy/src/scss/buefy";

.is-tall {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.is-tall-container {
  flex: 1;
}

.is-bottom-right {
  background: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.is-tall {
  .is-underline-dotted {
    text-decoration: underline dotted;
  }
}

.nuxt-content {
  a {
    text-decoration: underline dotted;
  }
  h2 {
    color: $purple;
    a { 
      span {
        display: none;
      }
    }
  }
  h3 {
    color: $purple;
    a { 
      span {
        display: none;
      }
    }
  }
}