$primary: black;
$info: #808080;
$link: $primary;
$modal-content-width: 40%;
$dimensions: 48 200 315 355;
$navbar-breakpoint: 0;
$loading-background: rgba(255,255,255,0);
$loading-background-legacy: #ffffff00;
$scheme-invert: $primary;
$box-shadow: 0 0.5em 1em -0.125em rgba($scheme-invert, 0.1), 0 0px 0 1px rgba($scheme-invert, 0.02);
$card-shadow: 0 0.5em 1em -0.125em rgba($scheme-invert, 0.1), 0 0px 0 1px rgba($scheme-invert, 0.02);
$navbar-item-img-max-height: 3.125rem;
$navbar-height: 4.625rem;